@page
@model Astrow_2._0.Pages.AdminPage.CreateUsersModel
@{
    ViewData["Title"] = "Opret | Page";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="AdminPage">
    <div class="container">
        <div class="row upper-row">
            <a href="/AdminPage/CreateUsers" class="btn btn-lg btn-primary">
                <i class="fas fa-plus-circle"></i> Opret bruger
            </a>
            <a href="/AdminPage/UpdateUser" class="btn btn-lg btn-secondary">
                <i class="fas fa-user-edit"></i> Opdater bruger
            </a>
            <a href="/AdminPage/UpdateTimeCard" class="btn btn-lg btn-secondary">
                <i class="fas fa-user-clock"></i> Opdater Timekort
            </a>
            <a href="/AdminPage/DeleteUser" class="btn btn-lg btn-danger">
                <i class="fas fa-minus-circle"></i> Fjern bruger
            </a>
        </div>
        <p class="display-3">Opret bruger</p>
        <div class="container lower-container CreateUser">

            <form method="post">
                <div class="row col-row createRow">
                    <div class="col-4">
                        <label>Fornavn</label> <br />

                        <input autocomplete="off" required asp-for="FirstName" id="FirstName" type="text" placeholder="Fornavn" class="form-control" oninvalid="this.setCustomValidity('Skriv fornavn her')" oninput="this.setCustomValidity('')" />
                        <span asp-validation-for="FirstName" class="CreateUserError"></span>
                    </div>

                    <div class="col-4">
                        <label>Mellemnavn</label> <br />

                        <input autocomplete="off" required asp-for="MiddleName" id="MiddleName" type="text" placeholder="Mellemnavn" class="form-control" oninvalid="this.setCustomValidity('Skriv mellemnavn her')" oninput="this.setCustomValidity('')" />
                        <span asp-validation-for="MiddleName" class="CreateUserError"></span>
                    </div>

                    <div class="col-4">
                        <label>Efternavn</label> <br />

                        <input autocomplete="off" required asp-for="LastName" id="LastName" type="text" placeholder="Efternavn" class="form-control" oninvalid="this.setCustomValidity('Skriv efternavn her')" oninput="this.setCustomValidity('')" />
                        <span asp-validation-for="LastName" class="CreateUserError"></span>
                    </div>
                </div>

                <div class="row col-row">
                    <div class="col-6">
                        <label>Brugernavn</label> <br />

                        <input autocomplete="off" required asp-for="UserName" id="UserName" type="text" placeholder="Brugernavn" class="form-control" oninvalid="this.setCustomValidity('Skriv brugernavn her')" oninput="this.setCustomValidity('')" />
                        <span asp-validation-for="UserName" class="CreateUserError"></span>
                    </div>

                    <div class="col-6">
                        <label>Kodeord</label> <br />

                        <input autocomplete="off" required asp-for="Password" id="Password" type="password" placeholder="Kodeord" autocomplete="off" class="form-control" oninvalid="this.setCustomValidity('Skriv kodeord her')" oninput="this.setCustomValidity('')" />
                        <span asp-validation-for="Password" class="CreateUserError"></span>
                    </div>
                </div>

                <div class="row col-row">
                    <div class="col-6">
                        <label>Start Dato</label> <br />

                        <input asp-for="StartDate" required id="StartDate" type="date" autocomplete="off" class="form-control" oninvalid="this.setCustomValidity('Skriv start dato her')" oninput="this.setCustomValidity('')" />
                        <span asp-validation-for="StartDate" class="CreateUserError"></span>
                    </div>

                    <div class="col-6">
                        <label>Slut Dato</label> <br />

                        <input asp-for="EndDate" required id="EndDate" type="date" autocomplete="off" class="form-control" oninvalid="this.setCustomValidity('Skriv slut dato her')" oninput="this.setCustomValidity('')" />
                        <span asp-validation-for="EndDate" class="CreateUserError"></span>
                    </div>

                    <div class="row col-row">
                        <div class="col-12">
                            <label>Rolle</label> <br />

                            <select name="Role" asp-for="Role" id="Role" class="form-control">
                                <option value="Elev">Elev</option>
                                <option value="Instructør">Instructør</option>
                            </select>
                            <span asp-validation-for="Role" class="CreateUserError"></span>

                        </div>
                    </div>
                </div>

                <div class="row submit-row">
                    <input type="submit" id="SubmitUser" class="btn btn-lg btn-primary" value="Submit" />
                </div>

                @*Endate validator*@
                <script type="text/javascript">
                        $("#EndDate").change(function () {
                        var startDate = document.getElementById("StartDate").value;
                        var endDate = document.getElementById("EndDate").value;

                        if ((Date.parse(endDate) <= Date.parse(startDate))) {
                            alert("End date should be greater than Start date");
                            document.getElementById("EndDate").value = "";
                        }
                    });
                </script>

            </form>
        </div>
    </div>
</div>
