<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Astrow</title>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">



    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


    <script type="text/javascript">
        var placeholder = document.querySelector(".placeholder");
        placeholder.addEventListener("click", function () {
            document.querySelector("body").classList.toggle("active");
        })
    </script>


</head>
<body>
    @{
        Context.Session.TryGetValue("_Username", out var test);

    }

    <nav class="sidebar">
        <div class="logo"></div>
        <ul>
            <li>
                <a href="#">Operationer
                    <span class=""></span>
                </a>
                <ul>
                    <li><a href="#">Opret registrering</a></li>
                    <li><a href="#">Opret fraværsanmodning</a></li>
                    <li><a href="#">Time kort</a></li>
                    <li><a href="#">Godkend periode</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Vis</a>
                <ul>
                    <li><a href="#">Terminalresultater</a></li>
                    <li><a href="#">Mine anmodninger</a></li>
                    <li><a href="#">Ferie kort</a></li>
                    <li><a href="#">Årlig oversigt</a></li>
                    <li><a href="#">Meddelelser</a></li>
                    <li><a href="#">Mine afvigelser</a></li>
                    <li><a href="#">Mine filer</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Opsætning</a>
                <ul>
                    <li><a href="#">Indstillinger</a></li>
                    <li><a href="#">Ændre kodeord</a></li>
                </ul>
            </li>
        </ul>
    </nav>






           @*<p>@System.Text.Encoding.UTF8.GetString(test, 0, test.Length)</p>*@

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>





    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>