<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Astrow</title>
    <link rel="shortcut icon" href="~/Img/Fav.png" />

    <!-- Stylesheet -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link src="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/fontawesome-free-5.15.4-web/css/all.css" rel="stylesheet" />

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/7eedced0ad.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js" type="text/javascript"></script>

    <script type="text/javascript">
        var placeholder = document.querySelector(".placeholder");
        placeholder.addEventListener("click", function () {
            document.querySelector("body").classList.toggle("active");
        })
    </script>


</head>
<body>
    @{
        Context.Session.TryGetValue("_Status", out var test);

    }

    <nav class="sidebar">
        <a href="/HomePage">
            <div class="logo"></div>
        </a>
        <ul class="mainUl">

            @*Operatiner sider*@
            <li id="Oper-li">
                <a href="#" class="Oper-btn">Operationer <span class="fas fa-caret-down first"></span></a>
                <ul id="Oper" class="Oper-show">
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-stopwatch" viewBox="0 0 16 16">
                                <path d="M8.5 5.6a.5.5 0 1 0-1 0v2.9h-3a.5.5 0 0 0 0 1H8a.5.5 0 0 0 .5-.5V5.6z" />
                                <path d="M6.5 1A.5.5 0 0 1 7 .5h2a.5.5 0 0 1 0 1v.57c1.36.196 2.594.78 3.584 1.64a.715.715 0 0 1 .012-.013l.354-.354-.354-.353a.5.5 0 0 1 .707-.708l1.414 1.415a.5.5 0 1 1-.707.707l-.353-.354-.354.354a.512.512 0 0 1-.013.012A7 7 0 1 1 7 2.071V1.5a.5.5 0 0 1-.5-.5zM8 3a6 6 0 1 0 .001 12A6 6 0 0 0 8 3z" />
                            </svg> Opret registrering
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-x" viewBox="0 0 16 16">
                                <path d="M6.146 7.146a.5.5 0 0 1 .708 0L8 8.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 9l1.147 1.146a.5.5 0 0 1-.708.708L8 9.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 9 6.146 7.854a.5.5 0 0 1 0-.708z" />
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                            </svg> Opret fraværsanmodning
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-check" viewBox="0 0 16 16">
                                <path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                            </svg> Godkend periode
                        </a>
                    </li>
                </ul>
            </li>

            @*Vis sider*@
            @*<li id="Vis-li">
                <a href="#" class="Vis-btn">Vis<span class="fas fa-caret-down second"></span></a>
                <ul id="vis" class="Vis-show">
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pc-display-horizontal" viewBox="0 0 16 16">
                                <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z" />
                            </svg> Terminalresultater
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                            </svg> Mine anmodninger
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-week" viewBox="0 0 16 16">
                                <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z" />
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                            </svg> Ferie kort
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-month" viewBox="0 0 16 16">
                                <path d="M2.56 11.332 3.1 9.73h1.984l.54 1.602h.718L4.444 6h-.696L1.85 11.332h.71zm1.544-4.527L4.9 9.18H3.284l.8-2.375h.02zm5.746.422h-.676V9.77c0 .652-.414 1.023-1.004 1.023-.539 0-.98-.246-.98-1.012V7.227h-.676v2.746c0 .941.606 1.425 1.453 1.425.656 0 1.043-.28 1.188-.605h.027v.539h.668V7.227zm2.258 5.046c-.563 0-.91-.304-.985-.636h-.687c.094.683.625 1.199 1.668 1.199.93 0 1.746-.527 1.746-1.578V7.227h-.649v.578h-.019c-.191-.348-.637-.64-1.195-.64-.965 0-1.64.679-1.64 1.886v.34c0 1.23.683 1.902 1.64 1.902.558 0 1.008-.293 1.172-.648h.02v.605c0 .645-.423 1.023-1.071 1.023zm.008-4.53c.648 0 1.062.527 1.062 1.359v.253c0 .848-.39 1.364-1.062 1.364-.692 0-1.098-.512-1.098-1.364v-.253c0-.868.406-1.36 1.098-1.36z" />
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                            </svg> Årlig oversigt
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mailbox" viewBox="0 0 16 16">
                                <path d="M4 4a3 3 0 0 0-3 3v6h6V7a3 3 0 0 0-3-3zm0-1h8a4 4 0 0 1 4 4v6a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V7a4 4 0 0 1 4-4zm2.646 1A3.99 3.99 0 0 1 8 7v6h7V7a3 3 0 0 0-3-3H6.646z" />
                                <path d="M11.793 8.5H9v-1h5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.354-.146l-.853-.854zM5 7c0 .552-.448 0-1 0s-1 .552-1 0a1 1 0 0 1 2 0z" />
                            </svg> Meddelelser
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-exclamation" viewBox="0 0 16 16">
                                <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z" />
                                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1.5a.5.5 0 0 1-1 0V11a.5.5 0 0 1 1 0Zm0 3a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z" />
                            </svg> Mine afvigelser
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-inboxes" viewBox="0 0 16 16">
                                <path d="M4.98 1a.5.5 0 0 0-.39.188L1.54 5H6a.5.5 0 0 1 .5.5 1.5 1.5 0 0 0 3 0A.5.5 0 0 1 10 5h4.46l-3.05-3.812A.5.5 0 0 0 11.02 1H4.98zm9.954 5H10.45a2.5 2.5 0 0 1-4.9 0H1.066l.32 2.562A.5.5 0 0 0 1.884 9h12.234a.5.5 0 0 0 .496-.438L14.933 6zM3.809.563A1.5 1.5 0 0 1 4.981 0h6.038a1.5 1.5 0 0 1 1.172.563l3.7 4.625a.5.5 0 0 1 .105.374l-.39 3.124A1.5 1.5 0 0 1 14.117 10H1.883A1.5 1.5 0 0 1 .394 8.686l-.39-3.124a.5.5 0 0 1 .106-.374L3.81.563zM.125 11.17A.5.5 0 0 1 .5 11H6a.5.5 0 0 1 .5.5 1.5 1.5 0 0 0 3 0 .5.5 0 0 1 .5-.5h5.5a.5.5 0 0 1 .496.562l-.39 3.124A1.5 1.5 0 0 1 14.117 16H1.883a1.5 1.5 0 0 1-1.489-1.314l-.39-3.124a.5.5 0 0 1 .121-.393zm.941.83.32 2.562a.5.5 0 0 0 .497.438h12.234a.5.5 0 0 0 .496-.438l.32-2.562H10.45a2.5 2.5 0 0 1-4.9 0H1.066z" />
                            </svg> Mine filer
                        </a>
                    </li>
                </ul>
            </li>*@

            @*Opsætning sider*@
            <li id="Ops-li">
                <a href="#" class="Ops-btn">Opsætning<span class="fas fa-caret-down third"></span></a>
                <ul id="Ops" class="Ops-show">
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear" viewBox="0 0 16 16">
                                <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z" />
                                <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115l.094-.319z" />
                            </svg> Indstillinger
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                                <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z" />
                            </svg> Ændre kodeord
                        </a>
                    </li>
                </ul>
            </li>

            @{
                if (System.Text.Encoding.UTF8.GetString(test, 0, test.Length) == "Instructør")
                {
                    @*Admin sider*@
                    <li id="Ad-li">
                        <a href="/AdminPage/CreateUsers" class="Ad-btn">Admin Side</a>
                    </li>
                }
            }

            @*Log-Ud knap*@
            <li id="bottom-li" class="nav-bottom">
                <a>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z" />
                        <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z" />
                    </svg> Logud
                </a>
            </li>
        </ul>
    </nav>


    @*JavaScript...*@

    <script>

        //On click rotate triangle and toggle class show to show sub menue

        $('.Oper-btn').click(function() {

            //if (document.getElementById("vis").classList.contains("show1")){

            //    $('nav ul .Vis-show').toggleClass("show1");
            //    $('nav ul .second').toggleClass("rotate");

            //    $('nav ul .Oper-show').toggleClass("show");
            //    $('nav ul .first').toggleClass("rotate");

            //}
            if (document.getElementById("Ops").classList.contains("show2")) {

                $('nav ul .Ops-show').toggleClass("show2");
                $('nav ul .third').toggleClass("rotate")

                $('nav ul .Oper-show').toggleClass("show");
                $('nav ul .first').toggleClass("rotate");
            }
            else {

                $('nav ul .Oper-show').toggleClass("show");
                $('nav ul .first').toggleClass("rotate");
            }

        });


        //$('.Vis-btn').click(function() {
        //    if (document.getElementById("Oper").classList.contains("show")) {

        //        $('nav ul .Oper-show').toggleClass("show");
        //        $('nav ul .first').toggleClass("rotate");

        //        $('nav ul .Vis-show').toggleClass("show1");
        //        $('nav ul .second').toggleClass("rotate");
        //    }
        //    else if (document.getElementById("Ops").classList.contains("show2")) {

        //        $('nav ul .Ops-show').toggleClass("show2");
        //        $('nav ul .third').toggleClass("rotate")

        //        $('nav ul .Vis-show').toggleClass("show1");
        //        $('nav ul .second').toggleClass("rotate");
        //    }
        //    else {
        //        $('nav ul .Vis-show').toggleClass("show1");
        //        $('nav ul .second').toggleClass("rotate");
        //    }
        //});


        $('.Ops-btn').click(function() {
            if (document.getElementById("Oper").classList.contains("show")) {

                $('nav ul .Oper-show').toggleClass("show");
                $('nav ul .first').toggleClass("rotate");

                $('nav ul .Ops-show').toggleClass("show2");
                $('nav ul .third').toggleClass("rotate");
            }
            //else if (document.getElementById("vis").classList.contains("show1")) {

            //    $('nav ul .Vis-show').toggleClass("show1");
            //    $('nav ul .second').toggleClass("rotate");

            //    $('nav ul .Ops-show').toggleClass("show2");
            //    $('nav ul .third').toggleClass("rotate");
            //}
            else {

                $('nav ul .Ops-show').toggleClass("show2");
                $('nav ul .third').toggleClass("rotate");
            }
        });

        //Add active class and remove from others

        $('nav ul .Oper-btn').click(function(){
            if (document.getElementById("Oper-li").classList.contains("active")) {

                document.getElementById("Oper-li").classList.remove("active")
                //document.getElementById("Vis-li").classList.remove("active")
                document.getElementById("Ops-li").classList.remove("active")
            }
            else {
                 document.getElementById("Oper-li").classList.add("active").siblings().removeClass("active");
            }
        });

        //$('nav ul .Vis-btn').click(function(){

        //    if (document.getElementById("Vis-li").classList.contains("active")) {

        //        document.getElementById("Oper-li").classList.remove("active")
        //        document.getElementById("Vis-li").classList.remove("active")
        //        document.getElementById("Ops-li").classList.remove("active")
        //    }
        //    else {
        //        document.getElementById("Vis-li").classList.add("active").siblings().removeClass("active");
        //    }
        //});

        $('nav ul .Ops-btn').click(function(){

            if (document.getElementById("Ops-li").classList.contains("active")) {

                document.getElementById("Oper-li").classList.remove("active")
                //document.getElementById("Vis-li").classList.remove("active")
                document.getElementById("Ops-li").classList.remove("active")
            }
            else {
                document.getElementById("Ops-li").classList.add("active").siblings().removeClass("active");
            }
        });

        //Pop up if sure wan't to loggout

        $('nav ul .nav-bottom').click(function() {
            if(confirm("Du er igang med at logge ud, er du sikker på det er hvad du vil?")) {

                location.href = '/Login';
            }
        });


        //Mouse hover for Operationer
        $('nav ul #Oper-li').mouseover(function() {
             if (!document.getElementById("Oper-li").classList.contains("active")) {

                //document.getElementById("Vis-li").classList.remove("active")
                document.getElementById("Ops-li").classList.remove("active")
             }
        });

        $('nav ul #Oper-li').mouseleave(function() {

            //if (document.getElementById('vis').classList.contains("show1")) {

            //    document.getElementById("Vis-li").classList.add("active")
            //}
            if (document.getElementById('Ops').classList.contains("show2")) {

                document.getElementById("Ops-li").classList.add("active")
            }
        });


        //Mouse hover for vis
        //$('nav ul #Vis-li').mouseover(function() {

        //      if (!document.getElementById("Vis-li").classList.contains("active")) {

        //        document.getElementById("Oper-li").classList.remove("active")
        //        document.getElementById("Ops-li").classList.remove("active")
        //      }
        //});

        //$('nav ul #Vis-li').mouseleave(function() {

        //    if (document.getElementById('Oper').classList.contains("show")) {

        //        document.getElementById("Oper-li").classList.add("active")
        //    }
        //    else if (document.getElementById('Ops').classList.contains("show2")) {

        //        document.getElementById("Ops-li").classList.add("active")
        //    }
        //});

        //Mouse hover for Opsætning
        $('nav ul #Ops-li').mouseover(function() {

              if (!document.getElementById("Ops-li").classList.contains("active")) {

                //document.getElementById("Vis-li").classList.remove("active")
                document.getElementById("Oper-li").classList.remove("active")
             }
        });

        $('nav ul #Ops-li').mouseleave(function() {

            //if (document.getElementById('vis').classList.contains("show1")) {

            //    document.getElementById("Vis-li").classList.add("active")
            //}
            if (document.getElementById('Oper').classList.contains("show")) {

                document.getElementById("Oper-li").classList.add("active")
            }
        });


        //Mouse hover for logout
        $('nav ul #bottom-li').mouseover(function() {

            document.getElementById("Ops-li").classList.remove("active")
            //document.getElementById("Vis-li").classList.remove("active")
            document.getElementById("Oper-li").classList.remove("active")
        });

        $('nav ul #bottom-li').mouseleave(function() {
            if(document.getElementById('Oper').classList.contains("show")) {
                document.getElementById("Oper-li").classList.add("active")
            }
            //else if (document.getElementById('vis').classList.contains("show1")) {
            //    document.getElementById("Vis-li").classList.add("active")
            //}
            else if (document.getElementById('Ops').classList.contains("show2")) {
                document.getElementById("Ops-li").classList.add("active")
            }
        });

        //Mouse hover for Admin
        $('nav ul #Ad-li').mouseover(function() {

            document.getElementById("Ops-li").classList.remove("active")
            //document.getElementById("Vis-li").classList.remove("active")
            document.getElementById("Oper-li").classList.remove("active")
        });

        $('nav ul #Ad-li').mouseleave(function() {
            if(document.getElementById('Oper').classList.contains("show")) {
                document.getElementById("Oper-li").classList.add("active")
            }
            //else if (document.getElementById('vis').classList.contains("show1")) {
            //    document.getElementById("Vis-li").classList.add("active")
            //}
            else if (document.getElementById('Ops').classList.contains("show2")) {
                document.getElementById("Ops-li").classList.add("active")
            }
        });
    </script>

    @*<p>@System.Text.Encoding.UTF8.GetString(test, 0, test.Length)</p>*@

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>