@page
@model Astrow_2._0.Pages.AdminModel
@{
    ViewData["Title"] = "Admin | Page";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<form method="post">
    <div class="AdminPage">
        <div class="container">
            <div class="row upper-row">
                <button type="submit" asp-page-handler="OpretBruger" class="btn btn-lg btn-primary">
                    <i class="fas fa-plus-circle"></i> Opret bruger
                </button>
                <button type="submit" asp-page-handler="UpdaterBruger" class="btn btn-lg btn-secondary">
                    <i class="fas fa-user-edit"></i> Updater bruger
                </button>
                <button type="submit"asp-page-handler="UpdaterTimekort" class="btn btn-lg btn-secondary">
                    <i class="fas fa-user-clock"></i> Updater Timekort
                </button>
                <button type="submit" asp-page-handler="FjernBruger" class="btn btn-lg btn-danger">
                    <i class="fas fa-minus-circle"></i> Fjern bruger
                </button>
            </div>
            <p class="display-3">Opret bruger</p>
            <div class="container lower-container">
                <div class="row col-row">
                    <div class="col-6">
                        <label>Fornavn</label> <br />
                        <input asp-for="FirstName" id="FirstName" type="text" placeholder="Nomen I." class="form-control" />
                        <span asp-validation-for="FirstName" class="CreateUserError"></span>
                    </div>

                    <div class="col-6">
                        <label>Efternavn</label> <br />
                        <input asp-for="LastName" id="LastName" type="text" placeholder="Nescio" class="form-control" />
                        <span asp-validation-for="LastName" class="CreateUserError"></span>
                    </div>
                </div>

                <div class="row col-row">
                    <div class="col-6">
                        <label>Kodeord</label> <br />
                        <input asp-for="Password" id="Password" type="password" placeholder="1234" autocomplete="off" class="form-control" />
                        <span asp-validation-for="Password" class="CreateUserError"></span>
                    </div>

                    <div class="col-6">
                        <label>Rolle</label> <br />
                        <input asp-for="Role" id="Role" type="text" placeholder="Instruktør/Elev" autocomplete="off" class="form-control" />
                        <span asp-validation-for="Password" class="CreateUserError"></span>
                    </div>
                </div>
                <div class="row col-row">
                    <div class="col-6">
                        <label>Start Dato</label> <br />
                        <input asp-for="StartDate" id="StartDate" type="date" autocomplete="off" class="form-control" />
                        <span asp-validation-for="Password" class="CreateUserError"></span>
                    </div>

                    <div class="col-6">
                        <label>Slut Dato</label> <br />
                        <input asp-for="EndDate" id="EndDate" type="date" autocomplete="off" class="form-control" />
                        <span asp-validation-for="Password" class="CreateUserError"></span>
                    </div>
                </div>
                <div class="row submit-row">
                    <button asp-page-handler="Submit" class="btn btn-lg btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>
