@page
@model Astrow_2._0.Pages.AdminPageModel
@{
}

<div class="CreateUserPage">
    <div class="CreateTitle">
        <h1 class="display-1 TitleText">Create User</h1>
    </div>
    <div class="container">
        <div class="left form-group">
            <label class="Input-label">Username: </label>
            <input class="form-control" type="text" />
        </div>
        <div class="right form-group">
            <label class="Input-label">Password: </label>
            <input class="form-control" type="password" />
        </div>
    </div>
</div>
