@page

@model Astrow_2._0.Pages.LoginModel
@{
    Layout = "~/Pages/Shared/_Login.cshtml";
}

@section scripts{ 
    <partial name="_ValidationScriptsPartial" />
}


<div class="Login-Page">

    <div id="NormalContainer" class="container form-group">
        <div class="top">
            <div id="NormalLogo" class="login-logo"></div>
        </div>
        <form method="post">
            <div class="middle">
                <div>
                    <span asp-validation-for="UserName" class="ErrorUsername"></span>
                    <input type="text" class="form-control" asp-for="UserName" id="username" autocomplete="off" placeholder="Username" />
                </div>
                <div>
                    <input type="password" id="pswd" class="form-control" asp-for="Password" autocomplete="off" placeholder="Password" />
                    <span asp-validation-for="Password" class="Error"></span>
                </div>
                <div class="CheckBox">
                    <input type="checkbox" class="form-check" />
                    <p>Remember me</p>
                </div>
            </div>
            <div class="bottom">
                <input type="submit" asp-page-handler="/HomePage" id="NormalBtn" class="btn btn-danger" value="Login" />
                <div class="bottom-link">
                    <a href="/Error" style=" text-decoration: none; color: white;">Reset password</a><br />
                    <div style="margin-left: 2.5rem; text-decoration: none; color: white;" class="tooltip">
                        Need help?
                        <span id="NormalToolTip" class="tooltiptext"><b style="color: #00ffdc; font-weight: 700; ">John Doe</b><br /> Tlf. 55 55 55 55</span>
                    </div>
                </div>
                <div class="copy">
                    <p>© 2016 Microsoft</p>
                    <a target="_blank" class="microBTN" href="https://pcsyd.dk/">Home</a>
                    <a target="_blank" class="microBTN" href="https://pcsyd.topdesk.net/">Help</a>
                </div>
            </div>
            <input type="button" class="NormalButton" value="Normal" onclick="NormalButtonThings()" />
        </form>
    </div>

    <script src="~/js/site.js" type="text/javascript"></script>
   
</div>

