/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*Selection highligter*/
::selection {
    background: #00c4ff2e;
}

::-moz-selection {
    background: #00c4ff2e;
}

body {
    background-size: cover;
    background-attachment: fixed;
}

.body {
    background-image: linear-gradient( 35deg, rgb(45 115 251 / 50%) 25%, rgb(39 152 224 / 50%) 50%, rgb(35 183 202 / 50%) 75%), url(/Img/bigbackground.jpg);
}


button {
    outline: none !important;
}

a {
    outline: none !important;
}

img {
    -webkit-user-drag: none;
}

    img::-moz-selection {
        background-color: transparent;
        color: #000;
    }

    img::selection {
        background-color: transparent;
        color: #000;
    }

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */

a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* Nav-bar
-------------------------------------------------------*/
.nav {
    display: block !important;
    background: linear-gradient( 35deg, rgb(45 115 251 / 50%) 25%, rgb(39 152 224 / 50%) 50%, rgb(35 183 202 / 50%) 75%);
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

    .nav a {
        color: black;
        text-decoration: none;
    }

    .nav .Logo {
        height: max-content;
        text-align: center;
        display: block;
        width: 255px;
        margin: 0 auto;
        box-shadow: 0px 0px 4px #0000005e;
    }

    .nav .container {
        margin-top: 2rem;
    }

nav .container .list-item .list-unstyled {
    transition: all 0.5s ease-in-out;
    display: none;
    opacity: 0;
}

nav .container .list-item .List-styled {
    transition: all 0.5s ease-in-out;
    display: block;
    opacity: 1;
}


/* Login-Page
------------------------------------------------------*/
.ErrorUsername {
    color: #dd0707;
    text-shadow: 0px 0px #ff0000;
    font-size: 15px;
    position: absolute;
    margin-top: 2.5rem;
    margin-left: 1rem;
    transition: all 0.5s ease-in-out;
}

.Error {
    color: #dd0707;
    text-shadow: 0px 0px #ff0000;
    position: absolute;
    font-size: 15px;
    margin-top: 0.5rem;
    margin-left: 1rem;
    transition: all 0.5s ease-in-out;
}



.Login-Page {
    color: white;
    margin: 0 auto;
    width: 25rem;
}

    .Login-Page .copy {
        text-align: center;
        margin: 0 auto;
        float: right;
        margin-top: 2rem;
        width: -webkit-fill-available;
        font-size: small;
    }

        .Login-Page .copy p {
            width: 9rem;
            float: left;
        }

        .Login-Page .copy .microBTN {
            background: none;
            border: none;
            color: white;
            width: 3rem;
            text-decoration: none;
            padding-right: 1rem;
            float: left;
        }


    .Login-Page .container {
        margin: 0 auto;
        height: 29rem;
        margin-top: 50%;
        background: linear-gradient( 35deg, rgb(45 115 251 / 50%) 25%, rgb(39 152 224 / 50%) 50%, rgb(35 183 202 / 50%) 75%);
        background-repeat: no-repeat;
        padding: 1rem;
        background-size: 28rem;
        background-position: center;
        border-radius: 10px;
        box-shadow: 0px 0px 0px 6px #00ffff26;
    }

    .Login-Page .top {
        margin: 0 auto;
        width: min-content;
        margin-top: 1rem;
    }

        .Login-Page .top .login-logo {
            width: 20rem;
            border-radius: 5px;
            height: 4.4rem;
        }

    .Login-Page .middle {
        margin-top: 2rem;
    }


        .Login-Page .middle .form-control {
            width: 80%;
            margin: 0 auto;
            background: #00c4ff2e;
            border: 2px solid transparent;
            color: white;
            transition: all 0.3s ease-in-out;
            margin-top: 2rem;
        }

            .Login-Page .middle .form-control::-webkit-input-placeholder {
                color: #ffffffb8;
                transition: all 0.5s ease-in-out;
            }

            .Login-Page .middle .form-control:hover::-webkit-input-placeholder,
            .Login-Page .middle .form-control:focus::-webkit-input-placeholder {
                color: white;
            }

        .Login-Page .middle #username {
            margin-bottom: 1rem;
        }

        .Login-Page .middle .CheckBox {
            display: flex;
            justify-content: flex-end;
            margin-right: 1rem;
            margin-top: 1rem;
        }

        .Login-Page .middle .form-control:focus {
            box-shadow: 0px 0px 0px 4px #00ffff5c;
        }

        .Login-Page .middle .form-control:hover {
            box-shadow: 0px 0px 0px 4px #00ffff5c;
        }

        .Login-Page .middle .form-check {
            margin-right: 10px;
            margin-top: 1px;
            width: 15px;
            outline: none !important;
        }

    .Login-Page .bottom {
        margin: 0 auto;
        margin-top: 1rem;
        max-width: min-content;
    }

        .Login-Page .bottom .btn {
            font-weight: 100;
            background: #00adff70 !important;
            border: none;
            width: 17rem;
            border-radius: 0px;
            font-size: 20px;
            padding: 0;
            transition: all 0.5s ease-in-out;
        }

            .Login-Page .bottom .btn:hover {
                background: #00f3ff70 !important;
                box-shadow: 0px 0px 0px 4px #00ffff26;
            }

            .Login-Page .bottom .btn:focus {
                outline: none !important;
                box-shadow: none !important;
            }

        .Login-Page .bottom .bottom-link {
            float: right;
            text-decoration: none;
            color: white;
            margin-top: 0.5rem;
        }

            .Login-Page .bottom .bottom-link .tooltip {
                position: relative;
                display: inline-block;
                opacity: 1;
            }

                .Login-Page .bottom .bottom-link .tooltip .tooltiptext {
                    visibility: hidden;
                    opacity: 0;
                    width: 130px;
                    margin-left: 1rem;
                    color: white;
                    text-align: center;
                    border: 3px solid transparent;
                    padding: 5px 0;
                    border-radius: 6px;
                    position: absolute;
                    background: #00adff70;
                    z-index: 1;
                    transition: all 0.3s ease-in-out;
                    box-shadow: 0px 0px 0px 4px #00ffff26;
                }

                .Login-Page .bottom .bottom-link .tooltip:hover .tooltiptext {
                    visibility: visible;
                    opacity: 1;
                }




/* Feature
------------------------------------------------------*/
.NormalButton {
    background: transparent;
    border: none;
    color: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
}

.NormalBody {
    background-image: linear-gradient( 35deg, rgb(251 188 45 / 50%) 25%, rgb(224 39 39 / 50%) 50%, rgb(0 0 0 / 50%) 75%), url(/Img/NormanBackground.jpg);
    background-position: bottom;
}
