/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Selection highligter*/
::selection {
    background: #00c4ff2e;
}

::-moz-selection {
    background: #00c4ff2e;
}

body {
    background: url(../Img/);
    background-size: cover;
    background-attachment: fixed;
}

.body {
    background-image: linear-gradient( 35deg, rgb(45 115 251 / 50%) 25%, rgb(39 152 224 / 50%) 50%, rgb(35 183 202 / 50%) 75%), url(/Img/bigbackground.jpg) !important;
}


button {
    outline: none !important;
}

a {
    outline: none !important;
}

img {
    -webkit-user-drag: none;
}

    img::-moz-selection {
        background-color: transparent;
        color: #000;
    }

    img::selection {
        background-color: transparent;
        color: #000;
    }

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}


/*Scroll bar*/
::-webkit-scrollbar {
    display:none;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    display: none;
}



/* Provide sufficient contrast against white background */

a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* Nav-bar
-------------------------------------------------------*/
a:hover {
    text-decoration:none;
    color:white !important;
}

.sidebar {
    position: fixed;
    width: 336px;
    height: 100%;
    left: 0;
    top:0;
    background: #004f75;
    padding: 1rem;
}

.sidebar .logo {
    background: url("../Img/Logo.jpg");
    background-size: contain;
    height: 4.5rem;
    width: 19rem;
}
nav svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
}
nav .mainUl {
    margin-top: 1rem;
}
nav ul {
    height: 90%;
    width: 100%;
    list-style: none;
    padding: 0 ;
    display: flex;
    flex-direction: column;
}

nav .nav-bottom {
    margin-top: auto;
    text-align: center;
    transition: all 0.1s ease-in-out;
    border-left: solid transparent 3px;
}
nav .nav-bottom a {
    padding:0;
    font-size: 20px;
    transition: all 0.1s ease-in-out;
    color:white !important;
}
nav .nav-bottom a svg {
    width:1.5rem;
    height:1.5rem;
    margin:0;
}
nav .nav-bottom a:hover {
    color: #ff3838 !important;
    border-left: solid transparent 3px !important;
}
nav .nav-bottom:hover {
    border-left: solid #ff3838 3px !important;
}
nav ul .nav-bottom:hover a {
    border-left: solid 3px transparent !important;
    color: #ff3838 !important;
}

nav ul li {
    line-height: 60px;
    background: #00405e;
    margin-top: 0.5rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: solid transparent 3px;

    transition: all 0.1s ease-in-out;
}
nav ul li:hover a {
    border-left: solid #0588c9 3px;
}
nav ul li.active a {
    color: white;
    border-left: solid #0588c9 3px;
    text-decoration: none;
}

nav ul ul {
    position: static;
    display: none;
}

nav ul .Oper-show.show {
    display:block;
}
nav ul .Vis-show.show1 {
    display:block;
}
nav ul .Ops-show.show2 {
    display:block;
}

nav ul ul li {
    line-height: 42px;
    border-bottom: none;
    background: #2676a585;
    margin: 0;
    transition: all 0.3s ease-in-out;
}

nav ul ul li a {
    font-size: 17px;
    padding-left: 15px;
    color: white  !important;
}
nav ul li.active ul li a {
    color: white;
    border-left: solid #0588c9 3px;
    text-decoration: none;
    border-left-color: transparent;
    transition: all 0.1s ease-in-out;
}
nav ul ul li a:hover {
    background: #0870a3;
    border-left: solid 3px #0588c9 !important;
    color: white !important;
}
nav ul ul li a:focus {
    background: #0870a3;
    border-left: solid 3px #0588c9 !important;
    color: white !important;
}

nav ul li a span {
    position: absolute;
    right: 30px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.3s ease-in-out;
    margin-top: 2rem;
}

nav ul li a span.rotate {
    transform: translateY(-50%) rotate(-180deg);
}



/* Login-Page
------------------------------------------------------*/
.ErrorUsername {
    color: #dd0707;
    text-shadow: 0px 0px #ff0000;
    font-size: 15px;
    position: absolute;
    margin-top: 2.5rem;
    margin-left: 1rem;
    transition: all 0.5s ease-in-out;
}

.Error {
    color: #dd0707;
    text-shadow: 0px 0px #ff0000;
    position: absolute;
    font-size: 15px;
    margin-top: 0.5rem;
    margin-left: 1rem;
    transition: all 0.5s ease-in-out;
}



.Login-Page {
    color: white;
    margin: 0 auto;
    width: 25rem;
}

    .Login-Page .copy {
        text-align: center;
        margin: 0 auto;
        float: right;
        margin-top: 2rem;
        width: -webkit-fill-available;
        font-size: small;
    }

        .Login-Page .copy p {
            width: 9rem;
            float: left;
        }

        .Login-Page .copy .microBTN {
            background: none;
            border: none;
            color: white;
            width: 3rem;
            text-decoration: none;
            padding-right: 1rem;
            float: left;
        }


    .Login-Page .container {
        margin: 0 auto;
        height: 29rem;
        margin-top: 50%;
        background: linear-gradient( 35deg, rgb(45 115 251 / 50%) 25%, rgb(39 152 224 / 50%) 50%, rgb(35 183 202 / 50%) 75%);
        background-repeat: no-repeat;
        padding: 1rem;
        background-size: 28rem;
        background-position: center;
        border-radius: 10px;
        box-shadow: 0px 0px 0px 6px #00ffff26;
        transition: all 0.5s;
    }




    .Login-Page .top {
        margin: 0 auto;
        width: min-content;
        margin-top: 1rem;
    }

        .Login-Page .top .login-logo {
            background: url("../Img/FORSØG.png");
            background-size: contain;
            width: 20rem;
            border-radius: 5px;
            height: 4.4rem;
        }

    .Login-Page .middle {
        margin-top: 2rem;
    }


        .Login-Page .middle .form-control {
            width: 80%;
            margin: 0 auto;
            background: #00c4ff2e;
            border: 2px solid transparent;
            color: white;
            transition: all 0.3s ease-in-out;
            margin-top: 2rem;
        }

            .Login-Page .middle .form-control::-webkit-input-placeholder {
                color: #ffffffb8;
                transition: all 0.5s ease-in-out;
            }

            .Login-Page .middle .form-control:hover::-webkit-input-placeholder,
            .Login-Page .middle .form-control:focus::-webkit-input-placeholder {
                color: white;
            }

        .Login-Page .middle #username {
            margin-bottom: 1rem;
        }

        .Login-Page .middle .CheckBox {
            display: flex;
            justify-content: flex-end;
            margin-right: 1rem;
            margin-top: 1rem;
        }

        .Login-Page .middle .form-control:focus {
            box-shadow: 0px 0px 0px 4px #00ffff5c;
        }

        .Login-Page .middle .form-control:hover {
            box-shadow: 0px 0px 0px 4px #00ffff5c;
        }

        .Login-Page .middle .form-check {
            margin-right: 10px;
            margin-top: 1px;
            width: 15px;
            outline: none !important;
        }

    .Login-Page .bottom {
        margin: 0 auto;
        margin-top: 1rem;
        max-width: min-content;
    }

        .Login-Page .bottom .btn {
            font-weight: 100;
            background: #00adff70;
            border: none;
            width: 17rem;
            border-radius: 0px;
            font-size: 20px;
            padding: 0;
            transition: all 0.5s ease-in-out;
        }

            .Login-Page .bottom .btn:hover {
                background: #00f3ff70;
                box-shadow: 0px 0px 0px 4px #00ffff26;
            }

            .Login-Page .bottom .btn:focus {
                outline: none !important;
                box-shadow: none !important;
            }

        .Login-Page .bottom .bottom-link {
            float: right;
            text-decoration: none;
            color: white;
            margin-top: 0.5rem;
        }

            .Login-Page .bottom .bottom-link .tooltip {
                position: relative;
                display: inline-block;
                opacity: 1;
            }

                .Login-Page .bottom .bottom-link .tooltip .tooltiptext {
                    visibility: hidden;
                    opacity: 0;
                    width: 130px;
                    margin-left: 1rem;
                    color: white;
                    text-align: center;
                    border: 3px solid transparent;
                    padding: 5px 0;
                    border-radius: 6px;
                    position: absolute;
                    background: #00adff70;
                    z-index: 1;
                    transition: all 0.3s ease-in-out;
                    box-shadow: 0px 0px 0px 4px #00ffff26;
                }

                .Login-Page .bottom .bottom-link .tooltip:hover .tooltiptext {
                    visibility: visible;
                    opacity: 1;
                }




/* Home Page
------------------------------------------------------*/



/* Div styling
---------------*/

.TimeCard {
    position: absolute;
    top: 0%;
    left: 17.5%;
    height: 100%;
    width: 82.5%;
}
.TimeCard .outer {
    width: max-content;
    margin: 0 auto;
    margin-top: 5rem;
    margin-left: 15rem;
}
.TimeCard .row {
    flex-wrap: nowrap;
    margin: 0 auto;
}
.TimeCard .row p {
    width: max-content;
    line-height: 2rem;
}
.TimeCard form {
    width:max-content;
}




/* Table
---------------*/
.TimeCard .outer table {
    margin:0;
}

/* Grid inside Table*/
.TimeCard .outer .grid-container {
    overflow: overlay;
    height: 42rem;
    background: #00405e;
}
.TimeCard .outer .grid-container table {
    border-top: solid #0978ae 1.2px;
}


/* Scrollbar for day grid*/
.TimeCard .outer .grid-container::-webkit-scrollbar {
    width:5px !important;
    display: contents !important;
}
.TimeCard .outer .grid-container::-webkit-scrollbar-track {
    background: #00405e !important;
    border-radius: 15px !important;
    display: contents !important;
}
.TimeCard .outer .grid-container::-webkit-scrollbar-thumb {
    background: #0588c9 !important;
    border-radius: 15px !important;
    display: contents !important;
}



/* Table Items*/
.TimeCard table thead tr th {
    background: #004f75 !important;
    color: white !important;
    text-align: center;
    height: 35px;
}
.TimeCard table tbody tr th {
    background: #004f75 !important;
    border-bottom: solid #004b6f 2px;
    color: white !important;
    text-align: center;
    border-top: solid #004f75 1.2px;
}
.TimeCard table tbody tr td {
    background: #097eb7 !important;
    border-bottom: solid #0978ae 2px;
    color: white !important;
    text-align: center;
}
.TimeCard table tbody, td, tfoot, th, thead, tr {
    width: 10rem;
}


/* Date Picker
---------------*/
.TimeCard .outer .row #calendarBox {
    display: none;
}

.TimeCard .outer .row #calendarBox input {
    display:block;
}
.TimeCard .outer .row #calendarBox a {
    padding-left: 2rem;
    padding-right: 2rem;
    color: white;
    text-decoration: none;
    background: #004f75;
    display: block;
    margin-bottom: 0.5rem;
}


/* Date Picker Selector*/
.TimeCard .row .form-control {
    width:13rem;
    margin-right:1rem;
    background: white;
    text-transform: capitalize;
}
.TimeCard .row .form-control:hover {
    box-shadow:none;
}
.TimeCard .row .form-control:focus {
    box-shadow:none;
    border-color:#ced4da;
}


/*Date shortcuts*/
.TimeCard .outer .row button {
    width: max-content;
    border:none;
    background:none;
    padding-left: 5px;
    padding-right: 5px;
}
.TimeCard .outer .row button i {
    color: #0978ae;
}


/*Hide and Show*/
.TimeCard .outer .row .show {
    display: block !important;
    width: 13rem;
    position: absolute;
    height: max-content;
    text-align: center;
    background: white;
    padding: 1rem;
    box-shadow: 0px 0px 3px 2px #00000052;
}
.TimeCard .outer .row #calendarBox .HideShow {
    display:none;
}
.TimeCard .outer .row #calendarBox .showDiv .row {
    width: max-content;
}
.TimeCard .outer .row #calendarBox .showDiv{
    display:block !important;
    height:100%;
}
.TimeCard .outer .row #calendarBox .showDiv input {
    text-transform: capitalize;
    width: max-content;
    background: white;
    border: none;
    padding: 0.5rem;
}


/* Admin Page
------------------------------------------------------*/

.AdminPage .row {
    --bs-gutter-x: 0;
}

.AdminPage {
    position: absolute;
    top: 0%;
    left: 17.5%;
    height: 100%;
    width: 82.5%;
}

.AdminPage .container {
   
}

.AdminPage .container p {
    text-align: center;
    margin-top: 2.5rem;
}

.AdminPage .container .upper-row {
    margin: 0 auto;
    width: max-content;
    padding: 0.5rem;

    background: #004f75;
    border-radius: 10px;
    
}

.AdminPage .container .row a {
    font-family: sans-serif;

    width: max-content;
    height: 35px;
    margin-right: 0.5rem;

    line-height: 0px;
    border-radius: 10px;

    font-size: 18.5px;
}

.AdminPage .container .lower-container {
    margin-top: 3.5rem;
    text-align: center;
    padding: 0;

    background:#004f75;
    border-radius:10px;

    width: 50rem;
}

.AdminPage .container .lower-container .submit-row {
    background: #00405e;
    width: 100%;
    height: 4rem;
    border-top: solid 3px #00405e;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
    place-content: center;
    padding: 0.5rem;
    
}

.AdminPage .container .lower-container .submit-row button {
    height: 40px;
    width: 97%;
    margin: 0;
    line-height: 0;
}

.AdminPage .container .lower-container .col-row {
    text-align: -webkit-center;
    width:100%;
    padding-top: 1rem;
}

.AdminPage .container .lower-container .col-row .col-12 .dropdown .dropdown-toggle {
    background: white;
}
    .AdminPage .container .lower-container .col-row .col-12 .dropdown .dropdown-toggle:hover {
        border-color: transparent;
        box-shadow: none;
    }
    .AdminPage .container .lower-container .col-row .col-12 .dropdown .dropdown-toggle:focus {
        box-shadow: none;
        border-color: transparent;
    }

.AdminPage .container .lower-container .col-row .col-12 .dropdown .dropdown-menu {
    width: auto !important;
    min-width: 5.3rem !important;
    border-radius: 0 !important;
    padding: 0;
}

.AdminPage .container .lower-container .col-row .col-12 .dropdown .dropdown-item {
    height: auto;
    width: 100%;
    line-height: normal;
    border: none;
    font-size: medium;
    border-radius: 0;
    background: white;
}
    .AdminPage .container .lower-container .col-row .col-12 .dropdown .dropdown-item:hover {
        color: white !important;
        background: #247bfb;
    }
    .AdminPage .container .lower-container .col-row .col-12 .dropdown .dropdown-item:focus {
        color: black !important;
        background: transparent;
    }

.AdminPage .container .lower-container .row label {
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.AdminPage .container .lower-container .row .col-6 {
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
}
.AdminPage .container .lower-container .row .CreateUserError {
    color: #c91325;
    font-weight: 700;
    font-size: 15px;
    margin-left: 1.5rem;
}

.AdminPage .container .lower-container .form-control {
    width:max-content;
}

/* Feature
------------------------------------------------------*/
.NormalButton {
    background: transparent;
    border: none;
    color: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    outline: none !important;
}

.NormalBody {
    background-image: linear-gradient( 35deg, rgb(251 188 45 / 50%) 25%, rgb(224 39 39 / 50%) 50%, rgb(0 0 0 / 50%) 75%), url(/Img/NormanBackground.jpg);
    background-position: bottom;
}

.NormalImg {
    background: url(../Img/NormalLogo.png) !important;
    background-size: contain !important;
}

.NormalContainer {
    background: linear-gradient( 35deg, rgb(251 188 45 / 50%) 25%, rgb(224 39 39 / 50%) 50%, rgb(0 0 0 / 50%) 75%) !important;
    box-shadow: 0px 0px 0px 6px #ff000026 !important;
}

.NormalBtn {
    background: #ff000026 !important;
}

    .NormalBtn:hover {
        background: #ff000070 !important;
        box-shadow: 0px 0px 0px 4px #ff000026 !important;
    }

.NormalInput {
    background: #ff00002e !important;
}

    .NormalInput:hover {
        background: #ff00002e !important;
        box-shadow: 0px 0px 0px 4px #ff00005c !important;
    }

    .NormalInput:focus {
        background: #ff00002e !important;
        box-shadow: 0px 0px 0px 4px #ff00005c !important;
    }

.NormalTooltip {
    box-shadow: 0px 0px 0px 4px #ff000026 !important;
    background: #ff000070 !important;
}
